#form-container{
    display: flex;
    align-items: center;
}

#btn{
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    margin-top: 1.9rem;
}

#btn .btn-primary{
    margin-right: 2rem;
    margin-left: 1rem;
    width: 9rem;
}
#btn .btn-warning{
    width: 9rem;
}