<div class="container">
  <h1 class="mt-4">Serviço Prestado</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
  </ol>
</div>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div id="form-container" class="row">
      <div class="col-md-4">
        <label for="inputNome">Nome do cliente: </label>
        <input class="form-control" [(ngModel)]="nome" type="text" name="nome" id="inputNome">
      </div>
      <div class="col-md-4">
        <label for="inputMes">Mês: </label>
        <select [(ngModel)]="mes" class="form-control" name="mes">
          <option value="">Selecione...</option>
          <option *ngFor="let mes of meses" [value]="mes">
            {{mes}}
          </option>
        </select>
      </div>
      <div id="btn">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i> Consultar
        </button>
        <button type="button" class="btn btn-warning" routerLink="/servico-prestado/form">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
    <br />
  </form>
  <br />
  <div class="row">
    <div class="alert alert-warning" role="alert" *ngIf="message">
      {{message}}
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Cliente</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Data</th>
        </thead>
        <tbody>
          <tr *ngFor="let s of lista">
            <td>{{ s.cliente.nome }}</td>
            <td>{{ s.descricao }}</td>
            <td>{{ s.valor }}</td>
            <td>{{ s.data }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
